<h1>Example heading @Html.Badge("New", Bs4StandardColors.Secondary)</h1>
<h2>Example heading @Html.Badge("New", Bs4StandardColors.Secondary)</h2>
<h3>Example heading @Html.Badge("New", Bs4StandardColors.Secondary)</h3>
<h4>Example heading @Html.Badge("New", Bs4StandardColors.Secondary)</h4>
<h5>Example heading @Html.Badge("New", Bs4StandardColors.Secondary)</h5>
<h6>Example heading @Html.Badge("New", Bs4StandardColors.Secondary)</h6>

<hr/>
<button type="button" class="btn btn-primary">
    Notifications @Html.Badge("4", Bs4StandardColors.Light)
</button>
<hr />
@Html.Badge("Primary", Bs4StandardColors.Primary)
@Html.Badge("Secondary", Bs4StandardColors.Secondary)
@Html.Badge("Success", Bs4StandardColors.Success)
@Html.Badge("Danger", Bs4StandardColors.Danger)
@Html.Badge("Warning", Bs4StandardColors.Warning)
@Html.Badge("Info", Bs4StandardColors.Info)
@Html.Badge("Light", Bs4StandardColors.Light)
@Html.Badge("Dark", Bs4StandardColors.Dark)
<hr />
@Html.Badge("Primary", Bs4StandardColors.Primary, BadgesEx.BadgeType.Pill)
@Html.Badge("Secondary", Bs4StandardColors.Secondary, BadgesEx.BadgeType.Pill)
@Html.Badge("Success", Bs4StandardColors.Success, BadgesEx.BadgeType.Pill)
@Html.Badge("Danger", Bs4StandardColors.Danger, BadgesEx.BadgeType.Pill)
@Html.Badge("Warning", Bs4StandardColors.Warning, BadgesEx.BadgeType.Pill)
@Html.Badge("Info", Bs4StandardColors.Info, BadgesEx.BadgeType.Pill)
@Html.Badge("Light", Bs4StandardColors.Light, BadgesEx.BadgeType.Pill)
@Html.Badge("Dark", Bs4StandardColors.Dark, BadgesEx.BadgeType.Pill)
<hr />