@model TagExamples.Models.ExampleTemplate

<div class="row">
    <div class="col-12">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ResultView)
            </dt>

            <dd>
                @Html.Partial(@Model.ResultView)
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-6">
        @Html.Accordion(new CollapsesEx.AccordionBlock("htmlCodeView", new List<CollapsesEx.AccordionCard>()
        {
            new CollapsesEx.AccordionCard("Html...", HttpUtility.HtmlDecode(Model.HtmlView), true)
        }))
    </div>
    <div class="col-6">
        @Html.Accordion(new CollapsesEx.AccordionBlock("cSharpCodeView", new List<CollapsesEx.AccordionCard>()
        {
            new CollapsesEx.AccordionCard("Razor...", Model.RazorView, true),
            new CollapsesEx.AccordionCard("C# Code...", Html.Partial("CSharpCode", Model.CodeView).ToString())
        }))
    </div>
</div>